// Colors
$white: hsl(0, 0%, 100%);
$primary: #0f8afd;
$secondary: #e6f3ff;
$textColor: '#294158';
$textColorSecondary: '#acbac8';
$darkBlue: hsl(233, 26%, 24%);
$grayishBlue: hsl(233, 8%, 62%);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-xlm: 3.25rem; // 52px